{% extends 'base.html' %}
{% block title %}Repair Form Details{% endblock title %}
{% block content %}

<div id="wrap" style='margin: 20px;'>
<div class='container' style='border: 1px solid lightgray'>

    <!-- REPAIR ORDER FORM SUMMARY SECTION-->
    <div class='container' style = 'display:flex;justify-content: space-between'>

            <!-- Service Number/Date Number -->
            <div class="card" style="width: 25rem;margin: 10px; border: 0px ">
                    <div class="card-body">
                      <h3 class="card-title" style='margin-bottom: 20px;'>REPAIR ORDER FORM</h3>
                      <div id='serviceNumber'></div>
                      <div id='todayDate'> </div>
                    </div>
            </div>

            <!-- Diagnosis Fee, Depsosit: Total -->
            <div class="card text-right" style="width: 25rem;margin: 10px; border: 0px ">
                    <div class="card-body">
                      
                      <p class="card-text">
                            <div class="input-group input-group-sm mb-1" style='width: 20rem'>
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Diagnosis Fee:</span>
                                    </div>
                                    <input id='diagnosisFee' type="text" class="form-control" style='text-align: right' aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                      <span class="input-group-text">.00</span>
                                    </div>
                            </div>
                      </p>

                      <p class="card-text" style='margin: 0px;'>
                            <div class="input-group input-group-sm mb-1" style='width: 20rem'>
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Deposit:</span>
                                    </div>
                                    <input id='diagnosisFee' type="text" class="form-control" style='text-align: right' aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                      <span class="input-group-text">.00</span>
                                    </div>
                            </div>
                      </p>

                      <p class="card-text">
                            <div class="input-group input-group-sm mb-1" style='width: 20rem'>
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" style='background-color: darkgoldenrod;color:white'>Total Fee:</span>
                                    </div>
                                    <input id='diagnosisFee' type="text" class="form-control" style='text-align: right' aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                      <span class="input-group-text">.00</span>
                                    </div>
                            </div>
                      </p>
                    </div>
            </div>
    </div>



    <!-- DEVICE PEROSNAL SECTION -->
    <div class="PersonalDeviceDetails" style='display:flex; padding: 20px;'>
        <div class="card" style='width: 600px;margin: 5px'>
                <h5 class="card-header">Device Details</h5>
                    <div class="card-body" style='height:auto;'> Phone Brand: 

                        <!-- SELECT 1 -->
                    
                       <select class='custom-select' id="phone" name="phone" onchange='phoneChange()' style='margin: 3px'> 
                           <option value="" selected>select</option>
                           <option value="Apple">APPLE</option>
                           <option value="Samsung">SAMSUNG</option>
                           <option value="HTC">HTC</option>
                       </select>

                       <!-- SELECT 2 -->
                       <select class='custom-select' id="phone2" name="phone2" onchange='phone2Change()' style='margin: 3px'>
                            <option value="" selected>select</option>
                        </select>
                      

                        <!-- SELECT 3      -->
                        <select class='custom-select' name="" id="others" onchange='phone3Change()' style='margin: 3px'>Others :
                            <option value="" selected>None</option>
                        </select>
                    

                        <!-- RESULT DISPLAY -->
                        <div id='result' style='margin-top: 10px;margin-left: 8px;color:darkslategrey'></div>
        
        </div>
        </div>

        <div class="card" style='width: 600px;margin: 5px'>
                <h5 class="card-header">Personal Details</h5>
                    <div class="card-body">
                        
                        <!-- PERSONAL DETAIL FORM -->
                        <form id='form1'>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <input type="text" name= 'firstName' class="form-control" id="inputFirstName" value='' placeholder="First Name">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <input type="text" name = 'lastName' class="form-control" id="inputLastName" placeholder="Last Name">
                                  </div>
                                </div>

                                <div class="form-group">
                                        <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                                </div>
                                <div class="form-group" >
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" onchange='formChange()'>
                                </div>
                                <div id="resultPersonal" ></div>
                        </form>
                    </div>

                   

                    
        </div>
    </div>

     <!-- CHECK LIST / TABLE DETAIL -->
    <table class="table table-striped" style='width: 95%;margin:30px;' >
            <thead style='text-align: center;'>
              <tr>
                <th scope="col">#</th>
                <th scope="col" style='text-align: center'>Repair Issue</th>
                <th scope="col" style='text-align: center'>Status</th>
              </tr>
            </thead>

            <!-- CHECK BOX 21 -->
            <tbody style='text-align: center;' >
              <tr>
                    <th scope="row">1</th>
                    <td>Power Switch</td>
                    <td> 
                            <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" checked='checked' id="inlineRadio1" value="work">
                                    <label class="form-check-label" for="inlineRadio1">Work</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="doesn\'work">
                                    <label class="form-check-label" for="inlineRadio1">Doesn't Work</label>
                            </div>
      
                    </td>
                  </tr>
              <th scope="row">2</th>
              <td>Data Cable Connection</td>
              <td> 
                      <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions2" checked='checked' id="inlineRadio2" value="work">
                              <label class="form-check-label" for="inlineRadio2">Work</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="doesn\'work">
                              <label class="form-check-label" for="inlineRadio2">Doesn't Work</label>
                      </div>

              </td>
            </tr>

            <th scope="row">3</th>
                <td>Volume Cable</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" checked='checked' id="inlineRadio3" value="work">
                                <label class="form-check-label" for="inlineRadio3">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio3">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">4</th>
                <td>Vibration/Mute Switch</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions4" checked='checked' id="inlineRadio4" value="work">
                                <label class="form-check-label" for="inlineRadio4">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio4" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio4">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">5</th>
                <td>EarPhone</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions5" checked='checked' id="inlineRadio5" value="work">
                                <label class="form-check-label" for="inlineRadio5">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio5" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio5">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">6</th>
                <td>HomeButton/Subkey</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions6" checked='checked' id="inlineRadio6" value="work">
                                <label class="form-check-label" for="inlineRadio6">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio6" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio6">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">7</th>
                <td>Front/Rear Camera</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions7" checked='checked' id="inlineRadio7" value="work">
                                <label class="form-check-label" for="inlineRadio7">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio7" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio7">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">8</th>
                <td>Wifi/Signal Strength</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions8" checked='checked' id="inlineRadio8" value="work">
                                <label class="form-check-label" for="inlineRadio8">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio8" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio8">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">9</th>
                <td>Light/proximate Sensor</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions9" checked='checked' id="inlineRadio9" value="work">
                                <label class="form-check-label" for="inlineRadio9">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio9" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio9">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">10</th>
                <td>Microphone</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions10" checked='checked' id="inlineRadio10" value="work">
                                <label class="form-check-label" for="inlineRadio10">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio10" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio10">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">11</th>
                <td>Water Damage</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions11" checked='checked' id="inlineRadio11" value="work">
                                <label class="form-check-label" for="inlineRadio11">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio11" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio11">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">12</th>
                <td>Gyro Seonsor</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions12" checked='checked' id="inlineRadio12" value="work">
                                <label class="form-check-label" for="inlineRadio12">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio12" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio12">Doesn't Work</label>
                        </div>

                </td>
              </tr>

              <th scope="row">13</th>
                <td>Loud/Ear Speaker</td>
                <td> 
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions13" checked='checked' id="inlineRadio13" value="work">
                                <label class="form-check-label" for="inlineRadio13">Work</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions13" id="inlineRadio13" value="doesn\'work">
                                <label class="form-check-label" for="inlineRadio13">Doesn't Work</label>
                        </div>

                </td>
              </tr>





            </tbody>
          </table>




</div>
</div>
{% endblock %}



{% block extra_js %}
<script>

// SERVICE NUMBER
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1 // january is 0
    var yyyy = today.getFullYear();
    var hr = today.getHours();
    var min = today.getMinutes()

    if (dd<10) { dd = '0' + dd }
    if (mm<10) { mm = '0' + mm }
    var service = ' SERIVCE NUMBER: '+ dd + mm + yyyy + hr + min;
    document.getElementById('serviceNumber').innerHTML = service;



// TODAY DATE 
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1 // january is 0
    var yyyy = today.getFullYear();
    if (dd<10) { dd = '0' + dd }
    if (mm<10) { mm = '0' + mm }
    var today = ' DATE: ' + dd + '/' + mm + '/' + yyyy
    document.getElementById('todayDate').innerHTML = today;
    

// PERSONAL INFO INPUT
function formChange() {
    var firstName = document.getElementById('inputFirstName').value
    var lastName = document.getElementById('inputLastName').value
    var address = document.getElementById('inputAddress').value
    var email = document.getElementById('inputEmail').value
    document.getElementById('resultPersonal').innerHTML = 'Name:  ' + firstName + ' ' + lastName + '(' + email +')';
}


// DEVICE DETAIL SELECT BOX 

    var phoneModels = {};
        phoneModels['Apple'] = ['iphone6', 'iphone7', 'iphone8', 'iphone10']
        phoneModels['Samsung'] = ['Galaxy S8', 'Galaxy S9', 'Galaxy S10', 'Note 10']
        phoneModels['HTC'] = ['HTC 10', 'HTC 11']

// 위에 모델을 셀렉트에 넣어봅시다

function phoneChange(){
    // 미리 id를 생성(선택) 합니다.
    var phoneList = document.getElementById('phone');
    var phone2List = document.getElementById('phone2');

    // car 셀렉트를 선택하였을때 옵션의 셀렉트 인덱스값을 받아옵니다.
    var selPhone = phoneList.options[phoneList.selectedIndex].value;
    
    // car 옵션의 value를  carsAndModels의 값에 연결합니다.
    var phones = phoneModels[selPhone]
  
    // 모델의 값이 있으면 그 값을 제거한다. 다른 옵션을 선택하였을때 다시보여주기 위함.
    while(phone2List.options.length) {
        
        phone2List.remove(0);
    }
    // cars 에 값이 들어가면 들어간만큼 loop를 돌면서 하나씩 options에 add를 합니다. 
    if (phones) {
        
        for (var i=0; i<phones.length; i++){
            // var car = new Option(cars[i], i);
            var phone = document.createElement('option')
            phone.value = phones[i]
            phone.textContent = phones[i]
        
            phone2List.options.add(phone);
        }
    }
    selPhoneModel = phone2List.options[phone2List.selectedIndex].value;
    console.log(selPhoneModel);
  
}


othersList = {};

othersList['iphone6'] = ['6 screen issue ', 'battery issue', 'sensor issue']
othersList['iphone7'] = ['7 screen issue', 'battery issue', 'sensor issue']
othersList['iphone8'] = ['8 power issue 8', 'battery issue', 'sensor issue']
othersList['iphone10'] = ['10 power issue 10', 'battery issue', 'sensor issue']
othersList['Galaxy S8']=['S8 power issue 10', 'battery issue', 'sensor issue']
othersList['Galaxy S9']=['S9 power issue 10', 'battery issue', 'sensor issue']
othersList['Galaxy S10']=['S10 power issue 10', 'battery issue', 'sensor issue']
othersList['Note 10']=['10 power issue 10', 'battery issue', 'sensor issue']
othersList['HTC 10']=['10 power issue 10', 'battery issue', 'sensor issue']
othersList['HTC 11']=['11 power issue 10', 'battery issue', 'sensor issue']


function phone2Change() {
    phoneList = document.getElementById('phone')
    phone2List = document.getElementById('phone2');
    others = document.getElementById('others');
    
    selPhone = phoneList.options[phoneList.selectedIndex].value;
    selPhoneModel = phone2List.options[phone2List.selectedIndex].value;
    

    phones = othersList[selPhoneModel];
    

    while(others.options.length){
        others.remove(0);
    }
    if(phones){
    for(var i=0; i<phones.length; i++){
        
        phone = document.createElement('option')
        phone.value=phones[i]
        phone.text=phones[i]

        others.options.add(phone);
    }
    }
}


// SELECT 결과물 display
function phone3Change(){
    others = document.getElementById('others');
    selPhoneModelDetail = others.options[others.selectedIndex].value;
    console.log(selPhoneModelDetail)
    result = 'Device / Issue : ' + selPhone + ' > ' + selPhoneModel + ' > ' + selPhoneModelDetail;
    document.getElementById('result').innerHTML = result;
}


</script>
{% endblock extra_js %}